<div class="row mb-5 mt-5">
  <div class="col col-12 col-xl-4 position-relative cursor-pointer mb-4 mb-lg-0">
    <span class="title ms-5" (click)="redirectTo('')"><strong>VIDEO GAMES</strong><br /></span>
    <span *ngIf="temp" class="highlited_text">VIDEO</span>
  </div>
  <div class="col col-12 col-xl-8 position-relative cursor-pointer">
    <span class="title ms-5" (click)="redirectTo('contact')"
      ><strong><span>CONTACT</span></strong></span
    >
    <span *ngIf="!temp" class="highlited_text">CONTACT</span>
  </div>
</div>
