.highlited_text{
    font-size: 80px;
    font-weight: 500;
    position: absolute;
    top: -50px;
    left: -34px;
    z-index: 0;
    font-family: Montserrat, sans-serif;
    color: #1b2941;
}

.cursor-pointer {
    cursor: pointer;
}
