<div class="d-flex justify-content-center align-items-center">
    <div class="col col-12 d-flex flex-column mt-5 width_class">
        <div class="mb-4">
            <h1 class="page-title">GET IN TOUCH</h1>
            <p class="page-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui sagittis vehicula turpis libero amet habitant morbi nunc vitae. Mi scelerisque tellus mauris cras faucibus nibh. Mattis et ornare sed nulla placerat. Vel tristique orci posuere euismod.</p>
        </div>
        <div class="card p-md-3 game-card">
            <div class="card-body">
                <h2 class="text-start mb-4 card-title text-white">Contact Form</h2>
                <form>
                    <div class="row mb-2 gy-2">
                        <div class="col col-md-6 col-12">
                            <div class="mb-3">
                                <div class="mb-2"><span class="field-title text-white">Name</span><span class="required field-title">&nbsp; *</span></div><input class="form-control input-text w-100" type="text" id="name-2" name="name">
                            </div>
                        </div>
                        <div class="col col-md-6 col-12">
                            <div class="mb-3">
                                <div class="mb-2"><span class="field-title text-white">Email Address</span><span class="required field-title">&nbsp; *</span></div><input class="form-control input-text w-100" type="email" id="email-2" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="mb-2"><span class="field-title text-white">Message</span><span class="required field-title">&nbsp; *</span></div><textarea class="form-control input-text w-100" id="message-2" name="message" rows="6"></textarea>
                    </div>
                    <div class="d-flex justify-content-end"><button class="btn btn-primary" type="button" class="send-button text-white">Send</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
