.clear_btn {
  margin-top: 130px !important;
}

.card-title {
  font-size: 24px;
  font-weight: 600;
}

.up-arrow {
  background-color: #5692e8;
  border: none !important;
  padding: 14px;
  color: #fff;
}

.input-wrapper {
  font-size: 20px;
  font-weight: 500;
}

.fs-20 {
  font-size: 20px;
}

.ddown {
  background-color: #182c47;  
}

.ddown-menu {
  background-color: #182c47;
  border: none !important;
  padding: 12px 16px;
  border-radius: 0px;
}

.ddown-option {
  background-color: #182c47;
  border: none !important;
  font-size: 18px;
  font-weight: 500;
}

.clear-button {
  background-color: #5692e8;  
}

.common-style {
    border: none !important;
    padding: 15px 30px;
    border-radius: 0px;
    font-size: 18px;
    font-weight: 600;
}
