<div class="row gy-5 mt-1">
    <div class="col col-xl-4 col-12">
        <div class="card game-card">
            <div class="card-body">
                <h4 class="card-title text-white mb-5">Filter Results</h4>
                <div class="row gy-4">
                    <div class="col col-12">
                        <h1 class="mb-3 input-wrapper text-white">Name (contains)</h1><input [(ngModel)]="searchName" (input)="search()" type="text" class="w-100 input-text" >
                    </div>
                    <div class="col col-12 col-md-4 col-lg-12">
                        <h1 class="mb-3 input-wrapper text-white">Minimum Score</h1><input type="text" class="w-100 input-text" placeholder="1 - 100" [(ngModel)]="searchScore" (input)="search()">
                    </div>
                    <div class="col col-12 col-md-5 col-lg-12">
                        <h1 class="mb-3 input-wrapper text-white">Order By</h1>
                        <div class="d-flex">
                            <div class="d-flex align-items-center p-3 up-arrow"><i class="fas fa-arrow-up text-white fs-20"></i></div>
                            <div class="dropdown w-100"><button class="btn btn-primary dropdown-toggle w-100 d-flex justify-content-between align-items-center ddown text-white common-style" aria-expanded="false" data-bs-toggle="dropdown" type="button">{{sortOption}}</button>
                                <div class="dropdown-menu w-100 ddown-menu"><a class="dropdown-item mb-3 ddown-option text-white" href="#"  (click)="dropdownClick('Score')">Score</a><a class="dropdown-item mb-3 ddown-option text-white" href="#" (click)="dropdownClick('Name')">Name</a><a class="dropdown-item ddown-option text-white" href="#"  (click)="dropdownClick('Release Date')">Release Date</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-12 col-md-3 col-lg-12 d-flex justify-content-end align-items-end" ><button class="btn btn-primary clear-button text-white common-style" type="button"  (click)=clearFilter()>Clear</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-xl-8 col-12">
        <div class="text-white" *ngIf="filteredGames?.length == 0">No results found</div>
        <ng-template ngFor let-game [ngForOf]="filteredGames">
            <app-game [game]="game"></app-game>
        </ng-template>
    </div>
</div>

