<div class="card mb-3" style="background-color: #0e1a2b;border: 0px;">
    <div class="row">
        <div class="col col-sm-12 col-md-2 position-relative"><img class="w-100" src="assets/img/image.png" width="142" height="142">
            <div class="d-flex d-print-none d-sm-flex d-md-none d-lg-none d-xl-none d-xxl-none justify-content-center align-items-center justify-content-sm-center align-items-sm-center rounded-circle position-absolute" style="background-color: #5692e8;width: 26px;height: 26px;top: 6%;right: 5%;"><span style="font-size: 18px;font-family: Montserrat, sans-serif;font-weight: 600;color: #fff;">9</span></div>
        </div>
        <div class="col col-12 col-md-9" style="padding: 12px 30px;">
            <h4 style="color: #fff;font-family: Montserrat, sans-serif;font-size: 24px;font-weight: 600;">Game Titleg</h4>
            <h6 class="text-muted mb-2" style="color: #c1d1e8 !important;font-size: 18px;font-family: Montserrat, sans-serif;font-weight: 500;">Release Date : DD/MM/YYYY</h6>
            <p class="mb-0" style="color: #c1d1e8 !important;font-size: 15px;font-family: Montserrat, sans-serif;font-weight: 500;">Nullam id dolor id nibhg ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
        </div>
        <div class="col d-none d-print-block d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block col-1 align-self-center d-flex p-0">
            <div class="d-flex align-items-center justify-content-center rounded-circle" style="background-color: #5692e8;width: 42px;height: 42px;"><span style="font-size: 20px;font-family: Montserrat, sans-serif;font-weight: 600;color: #fff;">9</span></div>
        </div>
    </div>
</div>